  /* .topnav {
    background-color: #333;
    overflow: hidden;
    }

    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }*/

    .topnav a.active {
    background-color: #04AA6D;
    color: white;
    } 

    /* rem = 16px standard?       */
    .layout {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        gap: 1rem;
        max-width: 100%;
        margin-top: 2rem;
    }

    .layout > aside,
    .layout > main {
        margin: 0;
        width: auto;
    }

    .layout main {
        max-width: none;
    }


    .tracking-in-contract-bck-top {
        -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
/* ----------------------------------------------
* Generated by Animista on 2026-2-4 11:2:11
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-contract-bck-top
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-contract-bck-top {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-top {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}